
<div class="layui-tpl-container" id="business_task_info_more_tpl">
    <div class="layui-btn-group" id="task_info_type">

    </div>
    <div class="layui-row">
        <div class="layui-col-md10 layui-tab"  lay-filter="category-tab-group">
            <ul class="layui-tab-title" id="category_ul">
            </ul>
        </div>
        <div class="layui-col-md2" >
            <div style="float: right">
                <button class="layui-btn layui-btn-primary layui-btn-sm" id="handler_btn">
                    办理
                </button>
                <button class="layui-btn layui-btn-normal layui-btn-sm" id="reassignment_btn">
                    改派
                </button>
            </div>
        </div>
    </div>
    <table id="task_info_more_table" lay-filter="task_info_more_table_filter"/>
</div>

<script>

</script>