
<div class="layui-tpl-container">
    <div class="layui-btn-group" id="">

    </div>
    <div class="layui-row">
        <div class="layui-col-md10 layui-tab"  lay-filter="category-tab-group">
            <ul class="layui-tab-title" id="category-ul-group">
            </ul>
        </div>
        <div class="layui-col-md2" >
            <div style="float: right">
                <button class="layui-btn layui-btn-primary layui-btn-sm">
                    办理
                </button>
                <button class="layui-btn layui-btn-normal layui-btn-sm">
                    改派
                </button>
            </div>

        </div>
    </div>
    <table id="more-table-task" lay-filter="more-table-task"></table>
</div>

<script>

</script>