div[xm-select-skin=normal] .xm-select-title div.xm-select-label>span {
    font-size: 12px !important;
}

.layui-card-header {
    height: 40px;
    line-height: 20px;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: #333333;
    background: #ffffff;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-border-line {
    border-bottom: 7px solid #eee;
}

.layui-table-box {
    margin-bottom: 0px;
}

.layui-card-body {
    height: auto;
    padding: 0px;
}

.layui-table-header .layui-table {
    color: #448EE0;
    background: #E9F9FF;
}

.layui-table-cell {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.line {
    height: 16px;
    border-left: 4px solid #1980CE;
    line-height: 16px;
    padding-left: 10px;
    flex-grow: 1;
    color: #333333;
    font-size: 16px;
}

.btn-form button {
    width: 70px;
}

.tea_arrowDown {
    transition: 0.8s;
    transform-origin: center center;
    transform: rotateZ(0deg);
}

.tea_arrowUp {
    transition: 0.8s;
    transform-origin: center center;
    transform: rotateZ(180deg);
}

.table-top-bar .layui-form-label {
    width: 80px;
}

.btn-area {
    clear: both;
    margin-top: 10px;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
    .layui-input,
    .layui-select,
    .xm-select-parent {
        width: 260px;
    }
    .line-chart {
        width: 100%;
        background: #ffffff;
        height: 340px;
    }
    .layui-form-label {
        font-size: 14px;
    }
    .btn-form {
        padding-right: 102px;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1439px) {
    .layui-input,
    .layui-select,
    .xm-select-parent {
        width: 260px;
    }
    .line-chart {
        width: 100%;
        background: #ffffff;
        height: 340px;
    }
    .layui-form-label {
        font-size: 14px;
    }
    .btn-form {
        padding-right: 76px;
    }
}

@media screen and (min-width: 1800px) {
    .layui-input,
    .layui-select,
    .xm-select-parent {
        width: 320px;
    }
    .table-top-bar .layui-form-label {
        width: 90px;
    }
    .line-chart {
        width: 100%;
        height: 540px;
        background: #ffffff;
    }
    .layui-form-label {
        font-size: 14px;
    }
    .btn-form {
        padding-right: 190px;
    }
}

@media screen and (max-width: 1360px) {
    .layui-input,
    .layui-select .xm-select-parent {
        width: 130px;
    }
    .line-chart {
        width: 100%;
        background: #ffffff;
        height: 300px;
    }
    .layui-form-label {
        font-size: 12px;
    }
    .btn-form {
        padding-right: 61px;
    }
}