<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应商任务单综合管理</title>
    <link rel="stylesheet" href="../../assets/css/task_sheet_agent.css">
    <style>
        .layui-table-box {
            overflow-x: auto;
        }

        .layui-table-header {
            overflow: initial;
        }
        div[xm-select-skin=default] dl dd:not(.xm-dis-disabled) i {border-color: #1E9FFF}         .xm-select-parent .xm-form-select dl {             max-height: 230px;!important;         }
        .xm-select-parent .xm-form-select dl {
            max-height: 230px;!important;
        }
        div[xm-select-skin=default] dl dd.xm-select-this:not(.xm-dis-disabled) i {color: #1E9FFF}
        .search-form .layui-input, .layui-select{
            height: 36px !important;

        }


    </style>
</head>
<body>
<div class="layui-row layui-col-space15" id="task_sheet_agent">

    <div class="layui-col-md12 autoScrollLeft">
        <div class="layui-card">
            <div class="search">
                <form class="layui-form search-form" lay-filter="search-form-content">
                    <div class="search-title" onclick="openPanel(this)">
                        <div class="search-l title-l"><label>数据查找</label></div>
                        <div class="search-r "><label id="flex2">展开</label><img
                                src="../../assets/images/arrowdown.png" alt="../../assets/images/arrowdown.png"/><img class="hide"
                                                                                                                      src="../../assets/images/arrowup.png" alt="../../assets/images/arrowup.png"/>
                        </div>
                    </div>
                    <div class="layui-form-item hide">
                        <!-- 数据表格顶部控制栏 -->
                        <div class="layui-form" style="padding: 0 0 1% 0;">
                            <div class="layui-row">
                                <div class="layui-col-md12">
                                    <div class="layui-col-md3">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">预警状态:</label>
                                            <div class="layui-input-block layui-unselect layui-form-select downpanel">
                                                <div class="layui-select-title self-select-title ">
                                                    <input type="text" placeholder="请选择" value="" name="alert"
                                                           readonly="" class="layui-input layui-unselect params-item"
                                                           id="search-input-alert">
                                                </div>
                                                <dl class="layui-anim layui-anim-upbit" style="" id="alert">
                                                    <!--
                                                                                                <dd><input type="checkbox" class="check-all" name="alert" title="请选择" lay-filter="chooseAllPeroson" value="" lay-skin="primary" ></dd>
                                                    -->
                                                    <dd><input type="checkbox" title="R" value="R" lay-skin="primary">
                                                    </dd>
                                                    <dd><input type="checkbox" title="Y" value="Y" lay-skin="primary">
                                                    </dd>
                                                    <dd><input type="checkbox" title="W" value="W" lay-skin="primary">
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">批准类型:</label>
                                            <div class="layui-input-block">
                                                <select name="taskordertype" id="taskordertype" lay-search="">
                                                    <option value="">请选择</option>
                                                    <option value="1">OPAP</option>
                                                    <option value="2">PPAP</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">任务单编号:</label>
                                            <div class="layui-input-block">
                                                <select name="taskordernumber" id="taskordernumber" lay-search="">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">时间范围:</label>
                                            <div id="timeFrame" class="layui-input-block">
                                                <input name="createtime" type="text" class="layui-input" id="createtime"
                                                       placeholder="请选择">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">项目单编号:</label>
                                        <div class="layui-input-block">
                                            <!-- <select name="itemtrackingnum" id="itemtrackingnum"
                                                     lay-filter="itemtrackingnum" lay-search="">
                                             </select>-->
                                            <select  id="xmdbh" lay-filter="itemtrackingnum" xm-select="itemtrackingnum" xm-select-skin="default" xm-select-show-count="1" xm-select-search="">
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">车型/机型:</label>
                                        <div class="layui-input-block">
                                            <select  id="xmcxjx" lay-filter="projectmodel" xm-select="projectmodel" xm-select-skin="default" xm-select-show-count="1" xm-select-search="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">供应商代码:</label>
                                        <div class="layui-input-block">
                                            <select  id="gysdm" lay-filter="gysdm" xm-select="suppliernum" xm-select-skin="default" xm-select-show-count="1" xm-select-search="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">供应商名称:</label>
                                        <div class="layui-input-block">
                                            <select id="gysmc" lay-filter="gysmc" xm-select="suppliername" 	xm-select-skin="default" xm-select-show-count="1" xm-select-search="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">风险检查结果:</label>
                                        <div class="layui-input-block layui-unselect layui-form-select downpanel">
                                            <div class="layui-select-title self-select-title ">
                                                <input type="text" placeholder="请选择" value=""
                                                       name="riskinspectionresults" readonly=""
                                                       class="layui-input layui-unselect params-item"
                                                       id="search-input-riskinspectionresults">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" style="" id="riskinspectionresults">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">PE:</label>
                                        <div class="layui-input-block">
                                            <select name="responsiblepe" id="responsiblepe" lay-search="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">SQE:</label>
                                        <div class="layui-input-block">
                                            <select name="sqe" id="sqe" lay-search="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <div style="float: right;padding-right: 2%">
                                            <div class="layui-inline">
                                                <button
                                                        class="layui-btn layui-btn-sm layui-btn-normal"
                                                        type="button"
                                                        lay-filter="search-task"
                                                        lay-submit>查询
                                                </button>
                                            </div>
                                            <div class="layui-inline">
                                                <button
                                                        class="layui-btn layui-btn-sm layui-btn-primary"
                                                        type="button"
                                                        lay-filter="reset-task"
                                                        lay-submit>重置
                                                </button>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="layui-card">
            <div class="tableList">
                <div class="layui-form">
                    <div class="tableList-title" onclick="openPanel(this)">
                        <div class="table-l title-l"><label>任务单列表</label></div>
                    </div>
                    <div style="padding-top: 1%">
                        <div class="layui-form layui-row">
                            <div style="float: right; padding-right: 1%">
                                <div class="layui-inline" style="">
                                    <button onclick="jumpxiangqing()" class="layui-btn layui-btn-sm layui-btn-normal">详情
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-round">
                        <div id="table_div">
                            <table id="table-task" class="table-form" lay-filter="table-task"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    //验证是否为多选项
    var multipleItems = ['alert', 'source','riskinspectionresults'];
    var formSelectItems = ['suppliernum','suppliername','itemtrackingnum','projectmodel'];

    //layui主方法
    layui.use(['table', 'laydate', 'form', 'layer','formSelects', 'adc'], function () {

        //定义全局变量
        var table, admin, form, layer,formSelects, laydate, config, table_cols;
        table = layui.table,
            admin = layui.adc,
            form = layui.form,
            layer = layui.layer,
            config = layui.config,
            laydate = layui.laydate,
            formSelects = layui.formSelects;
        formSelects.render();
        //多选框监听事件
        admin.listenMultipleSelect(linkageByProjectItem);

        //加载下拉选择框数据
        loadSearch();

        // 供应商代码选择回调 供应商代码查询供应商名称
        formSelects.on('suppliernum', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            //如果return false, 那么将取消本次操作
            admin.req("/api-edu/ppap/partslibrary/selectSuppliernameBySuppliernumber?supplierNumber=" + val.value, {}, function(res) {
                data = res.data;
                // $("#gysmc2").val(data.suppliername);
                if (isAdd) {
                    layui.formSelects.value('suppliername', [data], true);
                } else {
                    layui.formSelects.value('suppliername', [data], false);
                }
                // form.render('select', 'form1');
            }, {
                method: 'GET'
            });
        }, true);

        // 供应商名称选择回调 (供应商名称查询供应商代码)
        formSelects.on('suppliername', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            //如果return false, 那么将取消本次操作
            admin.req("/api-edu/ppap/partslibrary/selectSuppliernumberBySuppliername?supplierName=" + val.value, {}, function(res) {
                data = res.data;
                // $("#gysmc2").val(data.suppliername);
                if (isAdd) {
                    layui.formSelects.value('suppliernum', [data], true);
                } else {
                    layui.formSelects.value('suppliernum', [data], false);
                }
                // form.render('select', 'form1');
            });
        });

        // 项目单编号查项目车型机型
        formSelects.on('itemtrackingnum', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            //如果return false, 那么将取消本次操作
            if(isAdd){
                if(vals.length == 0){
                    linkageByProjectItem(0,val.value);
                }else {
                    linkageByProjectItem("","")
                }
            }else {
                if(vals.length-1 ==1) {
                    linkageByProjectItem(0,val.value);
                }else {
                    linkageByProjectItem("","");
                }
            }

            admin.req("/api-edu/ppap/partslibrary/queryProjectmodelByItemtrackingnum?queryItemtrackingnums=" + val.value, {}, function(res) {
                data = res.data;

                // $("#gysmc2").val(data.suppliername);
                if (isAdd) {
                    layui.formSelects.value('projectmodel', data, true);
                } else {
                    layui.formSelects.value('projectmodel', data, false);
                }
                form.render('select', 'form1');
            }, {
                method: 'GET'
            });
        });

        //项目车型/机型查询项目单编号
        formSelects.on('projectmodel', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            //如果return false, 那么将取消本次操作
            if(isAdd){
                if(vals.length == 0){
                    linkageByProjectItem(1,val.value);
                }else {
                    linkageByProjectItem("","")
                }
            }else {
                if(vals.length-1 ==1){
                    linkageByProjectItem(1,val.value);
                }else {
                    linkageByProjectItem("","");
                }
            }
            admin.req("/api-edu/ppap/partslibrary/queryItemtrackingnumByProjectmodel?projectmodels=" + val.value, {}, function(res) {
                data = res.data;
                // $("#gysmc2").val(data.suppliername);
                if (isAdd) {
                    layui.formSelects.value('itemtrackingnum', data, true);
                } else {
                    layui.formSelects.value('itemtrackingnum', data, false);
                }
                // form.render('select', 'form1');
            }, {
                method: 'GET'
            });
        });

        //渲染时间控件
        laydate.render({
            elem: '#createtime'
            , range: true
        });
        if (config.getAccount().rolename.indexOf('工程师') != -1) {
            $('#deleteTask').show();
            table_cols = [[
                {type: 'checkbox', fixed: 'left'}
                , {type: 'numbers', title: '序号', fixed: 'left'}
                , {
                    field: 'alert',
                    title: '预警状态',
                    minWidth: 100,
                    align: 'center',
                    templet: function (d) {
                        // 马 2019-03-17 2:34 只显示Y,R,W三种状态，其他的显示空白
                        if (d.alert == 'Y') {
                            return '<div style="background-color: yellow;color: black;width: 100%;height: 100%"><span>Y</span></div>'
                        } else if (d.alert == 'R') {
                            return '<div style="background-color: red;color: black;width: 100%;height: 100%"><span>R</span></div>'
                        } else if (d.alert == 'W') {
                            return '<div style="color: black;width: 100%;height: 100%"><span>W</span></div>'
                        } else {
                            return '';
                        }
                    }
                }
                , {
                    field: 'taskordertype', title: '批准类型', minWidth: 100, align: 'center', templet: function (d) {
                        if (d.taskordertype == 1) {
                            return 'OPAP'
                        } else {
                            return 'PPAP'
                        }
                    }
                }
                , {field: 'taskordernumber', title: '任务单编号', minWidth: 100, align: 'center'}
                , {field: 'createtime', title: '创建时间', minWidth: 100, align: 'center'
                    ,templet:function (d) {
                        return d.createtime != '' ? new Date(d.createtime).Format("yyyy-MM-dd hh:mm:ss") : ''
                    }
                }
                , {field: 'provisionalapprovalvalidity', title: '临时批准有效期', minWidth: 100, align: 'center'
                    ,templet:function (d) {
                        return d.provisionalapprovalvalidity != '' ? new Date(d.provisionalapprovalvalidity).Format("yyyy-MM-dd") : ''
                    }
                }
                , {field: 'itemtrackingnum', title: '项目单编号', minWidth: 130, align: 'center'}
                , {field: 'projectmodel', title: '车型/机型', minWidth: 120, align: 'center'}
                , {field: 'suppliernum', title: '供应商代码', minWidth: 100, align: 'center'}
                , {field: 'suppliername', title: '供应商名称', minWidth: 100, align: 'center'}
                , {field: 'riskinspectionresults', title: '风险检查结果', minWidth: 120, align: 'center'}
                , {field: 'responsiblepe', title: 'PE', minWidth: 100, align: 'center'}
                // , {field: 'sqe', title: 'SQE', minWidth: 100, align: 'center'}
            ]]
        } else if (config.getAccount().rolename.indexOf('PE') != -1) {
            $('#deleteTask').hide();
            table_cols = [[
                {type: 'checkbox', fixed: 'left'}
                , {type: 'numbers', title: '序号', fixed: 'left'}
                , {
                    field: 'alert',
                    title: '预警状态',
                    minWidth: 100,
                    align: 'center',
                    templet: function (d) {
                        // 马 2019-03-17 2:34 只显示Y,R,W三种状态，其他的显示空白
                        if (d.alert == 'Y') {
                            return '<div style="background-color: yellow;color: black;width: 100%;height: 100%"><span>Y</span></div>'
                        } else if (d.alert == 'R') {
                            return '<div style="background-color: red;color: black;width: 100%;height: 100%"><span>R</span></div>'
                        } else if (d.alert == 'W') {
                            return '<div style="color: black;width: 100%;height: 100%"><span>W</span></div>'
                        } else {
                            return '';
                        }
                    }
                }
                , {
                    field: 'taskordertype', title: '批准类型', minWidth: 100, align: 'center', templet: function (d) {
                        if (d.taskordertype == 1) {
                            return 'OPAP'
                        } else {
                            return 'PPAP'
                        }
                    }
                }
                , {field: 'taskordernumber', title: '任务单编号', minWidth: 100, align: 'center'}
                , {field: 'createtime', title: '创建时间', minWidth: 100, align: 'center'
                    ,templet:function (d) {
                        return d.createtime != '' ? new Date(d.createtime).Format("yyyy-MM-dd hh:mm:ss") : ''
                    }}
                , {field: 'provisionalapprovalvalidity', title: '临时批准有效期', minWidth: 100, align: 'center'
                    ,templet:function (d) {
                        return d.provisionalapprovalvalidity != '' ? new Date(d.provisionalapprovalvalidity).Format("yyyy-MM-dd") : ''
                    }
                }
                , {field: 'itemtrackingnum', title: '项目单编号', minWidth: 130, align: 'center'}
                , {field: 'projectmodel', title: '车型/机型', minWidth: 120, align: 'center'}
                , {field: 'suppliernum', title: '供应商代码', minWidth: 100, align: 'center'}
                , {field: 'suppliername', title: '供应商名称', minWidth: 100, align: 'center'}
                , {field: 'riskinspectionresults', title: '风险检查结果', minWidth: 120, align: 'center'}
                // , {field: 'responsiblepe', title: 'PE', minWidth: 100, align: 'center'}
                , {field: 'sqe', title: 'SQE', minWidth: 100, align: 'center'}
            ]]
        } else {
            $('#deleteTask').hide();
            table_cols = [[
                {type: 'checkbox', fixed: 'left'}
                , {type: 'numbers', title: '序号', fixed: 'left'}
                , {
                    field: 'alert',
                    title: '预警状态',
                    minWidth: 100,
                    align: 'center',
                    templet: function (d) {
                        // 马 2019-03-17 2:34 只显示Y,R,W三种状态，其他的显示空白
                        if (d.alert == 'Y') {
                            return '<div style="background-color: yellow;color: black;width: 100%;height: 100%"><span>Y</span></div>'
                        } else if (d.alert == 'R') {
                            return '<div style="background-color: red;color: black;width: 100%;height: 100%"><span>R</span></div>'
                        } else if (d.alert == 'W') {
                            return '<div style="color: black;width: 100%;height: 100%"><span>W</span></div>'
                        } else {
                            return '';
                        }
                    }
                }
                , {
                    field: 'taskordertype', title: '批准类型', minWidth: 100, align: 'center', templet: function (d) {
                        if (d.taskordertype == 1) {
                            return 'OPAP'
                        } else {
                            return 'PPAP'
                        }
                    }
                }
                , {field: 'taskordernumber', title: '任务单编号', minWidth: 100, align: 'center'}
                , {field: 'createtime', title: '创建时间', minWidth: 100, align: 'center',templet:function (d) {
                    return d.createtime != '' ? new Date(d.createtime).Format("yyyy-MM-dd hh:mm:ss") : ''
                }}
                , {field: 'provisionalapprovalvalidity', title: '临时批准有效期', minWidth: 100, align: 'center'
                    ,templet:function (d) {
                        return d.provisionalapprovalvalidity != '' ? new Date(d.provisionalapprovalvalidity).Format("yyyy-MM-dd") : ''
                    }
                }
                , {field: 'itemtrackingnum', title: '项目单编号', minWidth: 130, align: 'center'}
                , {field: 'projectmodel', title: '车型/机型', minWidth: 120, align: 'center'}
                , {field: 'suppliernum', title: '供应商代码', minWidth: 100, align: 'center'}
                , {field: 'suppliername', title: '供应商名称', minWidth: 100, align: 'center'}
                , {field: 'riskinspectionresults', title: '风险检查结果', minWidth: 120, align: 'center'}
                , {field: 'responsiblepe', title: 'PE', minWidth: 100, align: 'center'}
                , {field: 'sqe', title: 'SQE', minWidth: 100, align: 'center'}
            ]]
        }
        var tableIns = table.render({
            elem: '#table-task'
            , id: 'table-task'
            , url: admin.formatUrl('/api-edu/ppap/taskorder/searchTaskorderAll')
            , method: 'POST'

            // 格式化后台返回的数据
            , parseData: function (res) { //res 即为原始返回的数据

                if (res.respCode == 1) {
                    return {
                        "msg": res.message, //解析提示文本
                    };
                }

                // 返回结果，进行渲染表格
                console.log(res)
                if (res.respCode == 200) {
                    res.respCode = 0;
                }
                if (res.respCode == -1) {
                    layer.alert(res.message, {
                        icon: 5
                        ,btn:['关闭']
                    });
                    return;
                }
                return {
                    "code": res.respCode, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": admin.redefinedForObject(res.data.page) //解析数据列表去掉为null的数据
                };
            }
            , height: 'full-369'
            , cols: table_cols,
            done: function (res, curr, count) {
                if(res.data != undefined &&res.data.length > 0){setTimeout(function () {
                    $('.layui-table-box').css('overflow-x', 'hidden');
                    $('.layui-table-header').css('overflow', 'hidden');
                    $(window).resize();
                },1);}

            },
            cellMinWidth: 110,
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
            },
            limits: [10, 50, 100],
            request: {
                pageName: 'page',
                limitName: 'pageSize'
            },
            where: {
                userId: config.getAccount().userid
            }
        });
        //监听搜索
        form.on('submit(search-task)', function (data) {
            var startOrendtime = data.field.createtime
            var _data = data.field
            if (startOrendtime != '') {
                var createtimestart = startOrendtime.split(' - ')[0]
                var createtimeend = startOrendtime.split(' - ')[1]
                _data.createtimestart = createtimestart
                _data.createtimeend = createtimeend
            }
            // _data.projectmodel = $('.project').val();
            _data.itemtrackingnum  =formSelects.value('itemtrackingnum', 'valStr');
            _data.projectmodel  =formSelects.value('projectmodel', 'valStr');
            _data.suppliernum  =formSelects.value('suppliernum', 'valStr');
            _data.suppliername  =formSelects.value('suppliername', 'valStr');

            /*楊琴琴  添加查詢參數*/
            console.log(config.getAccount().rolename, "-------------")
            if (config.getAccount().rolename.indexOf('管理员') != -1 || config.getAccount().rolename.indexOf('动力总程科') != -1 || config.getAccount().rolename.indexOf('项目投产科') != -1) {
                _data.rolename = config.getAccount().rolename;
            } else {
                _data.userId = config.getAccount().userid;
            }
            //这里以搜索为例
            table.reload('table-task', {
                where: _data
                , page: {
                    curr: 1 //重新从第 1 页开始
                },
                done: function (res, curr, count) {
                    if(res.data != undefined &&res.data.length > 0){setTimeout(function () {
                        $('.layui-table-box').css('overflow-x', 'hidden');
                        $('.layui-table-header').css('overflow', 'hidden');
                        $(window).resize();
                    },1);}

                },
            });
        });

        //监听重置
        form.on('submit(reset-task)', function () {
            var resetItems = [
                'search-input-alert',
                'taskordertype',
                'taskordernumber',
                'createtime',
                'itemtrackingnum',
                'search-input-projectmodel',
                'suppliernum',
                'search-input-suppliername',
                'search-input-riskinspectionresults',
                'sqe',
                'linkage-itemtrackingnum',
                'linkage-projectmodel',
                'OTS1',
                'OTS2',
                'NS',
                'S',
                'SOP'
            ];
            resetForm(resetItems);
            loadSearch();
            tableIns.reload({
                where: {
                    userId: config.getAccount().userid
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                done: function (res, curr, count) {
                    if(res.data != undefined &&res.data.length > 0){setTimeout(function () {
                        $('.layui-table-box').css('overflow-x', 'hidden');
                        $('.layui-table-header').css('overflow', 'hidden');
                        $(window).resize();
                    },1);}

                },
            });
            form.render();
        });
    });

    /**
     * 重置表单内容
     */
    function resetForm(resetItems) {
        for (var i = 0; i < resetItems.length; i++) {
            var item = $("#" + resetItems[i]);
            switch (item.prop("tagName")) {
                case "INPUT":
                case "SELECT":
                    item.val("");
                    break;
                case "DL":
                    item.empty();
                    break;
            }
        }
        $(".layui-anim.layui-anim-upbit input:checkbox").prop("checked", false);
    }

    /**
     * @Desc 根据项目单编号联动
     * @Date 2018-12-21 20:55:34
     * @Author qitian
     */
    function linkageByProjectItem(a,value) {
        var admin = layui.adc,
            form = layui.form,
            config = layui.config;
        // var itemtrackingnum = $('#itemtrackingnum').val();
        // form.on('select(itemtrackingnum)', function (obj) {
        var itemtrackingnum = "";
        var projectmodel = "";
        if(a==0){
            itemtrackingnum = value;
        }else {
            projectmodel = value;
        }


        // })
        // var projectmodel = $('#search-input-projectmodel').val();
        // var projectmodel = "";
        //请求接口
        // if (config.getAccount().rolename.indexOf('供应商') != -1) {
        //     var data = {
        //         itemtrackingnum: itemtrackingnum,
        //         projectmodel: projectmodel,
        //         suppliernum: config.getAccount().companyCode
        //     }
        // } else if (config.getAccount().rolename.indexOf('PE') != -1) {
        //     var data = {
        //         itemtrackingnum: itemtrackingnum,
        //         projectmodel: projectmodel,
        //         responsiblepe: config.getAccount().userid
        //     }
        // } else if (config.getAccount().rolename.indexOf('TDC') != -1){
        //     var data = {
        //         itemtrackingnum: itemtrackingnum,
        //         projectmodel: projectmodel,
        //         tdcchiefengineer: config.getAccount().userName
        //     }
        // }else {
        var data = {
            itemtrackingnum: itemtrackingnum,
            projectmodel: projectmodel
            // , sqe: config.getAccount().userid
        }
        // }
        admin.req('/api-edu/ppap/partslibrary/linkageByProjectItem',data , (res) => {
            if (res.respCode == 200 && res.data && res.data.length === 1) {
            //赋值
            var type = res.data[0].projecttype
            if (type == 1) {
                $('#ots1_label').html('OTS1:')
                $('#ots2_label').html('OTS2:')
                $('#ns_label').html('NS:')
                $('#stime_label').html('S:')
                $('#soptime_label').html('SOP:')
            }
            $('#linkage-itemtrackingnum').val(res.data[0].pfollowcode);
            $('#linkage-projectmodel').val(res.data[0].pcartype);
            if (res.data[0].ots1 != null) {
                $('#OTS1').val(new Date(res.data[0].ots1).Format("yyyy-MM-dd"));
            }
            if (res.data[0].ots2 != null) {
                $('#OTS2').val(new Date(res.data[0].ots2).Format("yyyy-MM-dd"));
            }
            if (res.data[0].ns != null) {
                $('#NS').val(new Date(res.data[0].ns).Format("yyyy-MM-dd"));
            }
            if (res.data[0].stime != null) {
                $('#S').val(new Date(res.data[0].stime).Format("yyyy-MM-dd"));
            }
            if (res.data[0].soptime != null) {
                $('#SOP').val(new Date(res.data[0].soptime).Format("yyyy-MM-dd"));
            }
        } else {
            $('#linkage-itemtrackingnum').val('');
            $('#linkage-projectmodel').val('');
            $('#OTS1').val('');
            $('#OTS2').val('');
            $('#NS').val('');
            $('#S').val('');
            $('#SOP').val('');
        }
    }, {
            method: 'POST'
        })

    }

    /**
     * @Desc 搜索下拉面板数据获取
     * @Date 2018-12-21 17:13:08
     * @Author qitian
     */
    function loadSearch() {
        var admin = layui.adc,
            form = layui.form,
            config = layui.config;
        formSelects = layui.formSelects;
        admin.req('/api-edu/ppap/taskorder/taskorderStayItems', {userId: config.getAccount().userid}, function (res) {
            if (res.respCode == 200 && res.data) {
                for (var selName in res.data) {
                    $('#' + selName).empty();
                    //多选项
                    if (multipleItems.includes(selName)) {
                        admin.initMultipleSelect(selName, res.data[selName]
                        );
                    }else if(formSelectItems.includes(selName)){
                        //formSelects 多选  [suppliername、itemtrackingnum、projectmodel]
                        var selectData = [];
                        for(var i=0;i<res.data[selName].length;i++){
                            var value = res.data[selName];
                            var selectObj = {};
                            selectObj.name = value[i];
                            selectObj.value = value[i];
                            selectData.push(selectObj);
                        }
                        //formSelect-v4下拉树插件渲染
                        formSelects.data(''+selName+'', 'local', {
                            arr: selectData
                        });
                        formSelects.btns(''+selName+'', []);

                    }else {//单选项
                        if (res.data[selName].length > 0) {
                            $('#' + selName).append('<option value="">请选择</option>');
                            // for (let item of res.data[selName]) {
                            for (var i = 0, len = res.data[selName].length; i < len; i++) {
                                var item = res.data[selName][i];
                                if (item) {
                                    if (history && history[selName] == item) {
                                        $('#' + selName).append('<option value="' + item + '" selected>' + item + '</option>');
                                    } else {
                                        $('#' + selName).append('<option value="' + item + '">' + item + '</option>');
                                    }
                                }
                            }
                        } else {
                            $('#' + selName).append('<option value="">请选择</option>');
                        }
                        form.render('select');
                        /*$('#itemtrackingnum').next().find('dd').on('click', function (e) {
                            linkageByProjectItem();
                        })*/
                    }

                }
            }
        }, {
            method: 'POST'
        });
    };

    /**
     * 面板 显示
     * @param _this  当前元素this
     */
    function openPanel(_this) {
        if ($(_this).next('.layui-form-item').css('display') === 'none') {
            $(_this).next('.layui-form-item').css('display', 'block');
            if (_this && _this.className === 'tip-title') {
                $('#flex1').html('收起');
                $('#flex1').next().next().removeClass('hide');
                $('#flex1').next().addClass('hide');
            } else {
                $('#flex2').html('收起')
                $('#flex2').next().next().removeClass('hide');
                $('#flex2').next().addClass('hide');
            }
        } else {
            $(_this).next('.layui-form-item').css('display', 'none');
            if (_this && _this.className === 'tip-title') {
                $('#flex1').html('展开');
                $('#flex1').next().next().addClass('hide');
                $('#flex1').next().removeClass('hide');
            } else {
                $('#flex2').html('展开')
                $('#flex2').next().next().addClass('hide');
                $('#flex2').next().removeClass('hide');
            }
        }
    }

    //跳转PPAP创建
    function jump() {
        var table = layui.table,
            admin = layui.adc,
            config = layui.config,
            layer = layui.layer;
        var checkStatus = table.checkStatus('table-task'); //test即为基础参数id对应的值
        var rows = checkStatus.data; //获取选中行的数据
        console.log(rows)
        var longth = checkStatus.data.length; //获取选中行数量，可作为是否有选中行的条件
        if (longth == 0 || longth > 1) {
            layer.alert('请选择一条数据', {
                icon: 5
                ,btn:['关闭']
            });
            return;
        }



        // 1:跳转opap审批；2：跳转ppap审批
        /*let param = window.location.hash;//路径参数---declared by qitian 20181216
        if (param.indexOf('?') === -1) {
            window.history.go(-1);
        }

        var parameter = param.split('?')[1];*/
        if (rows[0].taskordertype == '1') {

            //1:待发布
            if (rows[0].currentstatus == '1') {
                // location.href = './index.html#!OPAP?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + escape(rows[0].nodeName);
                window.open('./index.html#!OPAP?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + escape(rows[0].nodeName));
                return;
            } else {
                // location.href = './index.html#!OPAP1?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + escape(rows[0].nodeName);
                window.open('./index.html#!OPAP1?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + escape(rows[0].nodeName));
                return;
            }
        }

        if (rows[0].taskordertype == '2') {

            var nodeName = rows[0].nodeName;
            if (config.getAccount().rolename == '供应商') {
                location.href = './index.html#!project10?' + rows[0].taskorderkey;
                return;
            }
            //1:待发布
            /*if (rows[0].currentstatus == '1') {
                    location.replace('./index.html#!project11?' + rows[0].taskorderkey);
                return;
            } else */
            if (rows[0].currentstatus == 7 && rows[0].taskordertype == 2) {
                selectPPAPkey(rows[0].taskorderkey, rows[0].processId, rows[0].nodeid,nodeName)
            } else {
                //updated by qitian 2019-01-08 21:21
                admin.req('/api-edu/ppap/taskorder/getTaskInfoByLast', {taskorderkey: rows[0].taskorderkey}, (res) => {
                    if (res.respCode == 200 && res.data) {
                    //selectPPAPkey(rows[0].taskorderkey,rows[0].processId, rows[0].nodeid)
                    var processId = rows[0].processId;
                    var nodeid = rows[0].nodeid;
                    if (processId == '') {
                        // location.href = './index.html#!task-second-ppap?' + rows[0].taskorderkey + '&null' + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null"));
                        window.open('./index.html#!task-second-ppap?' + rows[0].taskorderkey + '&null' + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null")));
                    } else {
                        // location.href = './index.html#!task-second-ppap?' + rows[0].taskorderkey + '&' + processId + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null"));
                        window.open('./index.html#!task-second-ppap?' + rows[0].taskorderkey + '&' + processId + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null")))
                    }
                } else {
                    //updated by qitian 2019-01-13 判断当前状态是否为1，如果为暂存的创建单，则需要跳转创建页面
                    //修改用流程判断nodeName
                    if (rows[0].nodeName == "") {
                        // location.href = './index.html#!project11?' + rows[0].taskorderkey;
                        window.open('./index.html#!project11?' + rows[0].taskorderkey);
                    } else {
                        // location.href = './index.html#!project9?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid + '&' + rows[0].taskordernumber+'&'+escape(rows[0].nodeName);
                        window.open('./index.html#!project9?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid + '&' + rows[0].taskordernumber+'&'+escape(rows[0].nodeName));
                    }
                }
            }, {method: 'POST'});

            }
        }
    }

    //跳转再次创建ppap
    function selectPPAPkey(taskorderkey, processId, nodeid,nodeName) {
        var admin = layui.adc;
        admin.req('/api-edu/ppap/taskorder/createTaskAgain', {taskorderkey: taskorderkey}, (res) => {
            if (res.respCode == 200 && res.data) {
            if (processId == '') {
                // location.replace('./index.html#!task-second-ppap?' + res.data + '&null' + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null")));
                window.open('./index.html#!task-second-ppap?' + res.data + '&null' + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null")));
            } else {
                //修改用流程判断nodeName
                // location.replace('./index.html#!task-second-ppap?' + res.data + '&' + processId + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null")));
                window.open('./index.html#!task-second-ppap?' + res.data + '&' + processId + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null")));
                // layer.open({
                //     type: 2,
                //     title: '很多时候，我们想最大化看，比如像这个页面。',
                //     shadeClose: true,
                //     shade: false,
                //     maxmin: true, //开启最大化最小化按钮
                //     area: ['893px', '600px'],
                //     content: './index.html#!task-second-ppap?' + res.data + '&' + processId + '&' + (nodeid ? nodeid : 'null')+'&'+(nodeName!=""?escape(nodeName):escape("null"))
                // });
            }
        }
    }, {method: 'post'})
    }

    //任务单待办删除
    function deletetask() {
        var table = layui.table,
            admin = layui.adc,
            layer = layui.layer;
        //获取选中行的id
        var ids = [];
        var checkStatus = table.checkStatus('table-task');
        var rows = checkStatus.data;
        var longth = checkStatus.data.length;
        for (var i = 0; i < longth; i++) {
            ids.push(rows[i].taskorderkey);
            //马 2019-03-10 进入流程任务单无法删除
            var nodeNm = rows[i].nodeName;
            var taskordernumber = rows[i].taskordernumber;
            if(nodeNm != ""){
                layer.alert('任务单'+taskordernumber+'已进入流程，无法删除', {
                    icon: 5
                    ,btn:['关闭']
                });
                return ;
            }

        }
        if (ids.length == 0) {
            layer.alert('至少选择一条数据', {
                icon: 5
                ,btn:['关闭']
            });
            return;
        }
        var data = {
            integerList: ids
        }
        $.ajax({
            type: 'POST',
            url: admin.formatUrl('/api-edu/ppap/taskorder/delByTaskorderKeys'),
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function (result) {
                if (result.respCode != -1) {
                    table.reload('table-task',{
                        done: function (res, curr, count) {
                            if(res.data != undefined &&res.data.length > 0){setTimeout(function () {
                                $('.layui-table-box').css('overflow-x', 'hidden');
                                $('.layui-table-header').css('overflow', 'hidden');
                                $(window).resize();
                            },1);}

                        },
                    });
                    layer.alert(result.message, {
                        icon: 1
                        ,btn:['关闭']
                    });
                } else {
                    layer.alert(result.message, {
                        icon: 5
                        ,btn:['关闭']
                    });
                }
            }
        })
    }

    function jumpxiangqing() {
        var table = layui.table,
            layer = layui.layer
            , config = layui.config;
        //获取选中行的id
        var checkStatus = table.checkStatus('table-task');
        var rows = checkStatus.data;
        if (rows.length == 0 || rows.length > 1) {
            layer.alert('请选择一条数据', {
                icon: 5
                , btn: ['关闭']
            });
            return;
        }
        if (rows[0].taskordernumber.indexOf('OPAP') != -1) {
            // window.location.href = './index.html#!OPAP2?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid;
            window.open('./index.html#!OPAP2?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid);
        } else {
            //debugger
            if (config.getAccount().rolename.indexOf('供应商') != -1) {
                // window.location.href = './index.html#!task-view-ppap-supplier?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid;
                window.open('./index.html#!task-view-ppap-supplier?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid);
            } else {
                var nodeName = "";
                if(rows[0].nodeName ==''){
                    nodeName = "null"
                }else {
                    nodeName = rows[0].nodeName;
                }
                // window.location.href = './index.html#!task-view-ppap?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid + '&'+escape(nodeName);
                window.open('./index.html#!task-view-ppap?' + rows[0].taskorderkey + '&' + rows[0].processId + '&' + rows[0].nodeid + '&'+escape(nodeName));
            }
        }
    }

    //by ma 2019/03/10 selectFrom 添加鼠标悬停显示全部
    $("#task_sheet_agent").on('mouseover','.xm-form-checkbox',function (){
        var text = $(this).find("span").text()
        $(this).attr('title',text)
    });
</script>
</body>
</html>
