<!--
File   : approve_message_query_ppap.html
Created: 2018-01-08 14:20
Author : Qitian
Description: 任务通知查询-PPAP-查看详情模态框
-----
Last Modified:
Modified By  :
Description:
-----
-->
<style xmlns="http://www.w3.org/1999/html">

    .layui-layer-page {
        min-width: 900px;
        /*min-height: 400px;*/
       /* height: 500px;
        overflow-x: hidden;
        overflow-y: auto;*/
    }

    .layui-layer-title {
        display: none;
    }

    .layui-tpl-container {
        padding: 50px 20px;
    }

    .notice-title {
        position: absolute;
        width: 384px;
        top: 35px;
        left: calc(50% - 174px);
        background: #fff;
        z-index: 960;
        text-align: center;
    }

    .label1 {
        height: 20px;
        font-size: 14px;
        font-family: ArialHebrew;
        color: rgba(56,56,56,1);
        line-height: 17px;
    }

    .label2 {
        height:25px;
        font-size:25px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        display: block;
        color:rgba(56,56,56,1);
        /*line-height:32px;*/
    }

    .label3 {
        position: absolute;
        top: 90px;
        width: 100%;
        text-align: center;
        height:20px;
        font-size:13px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(56,56,56,1);
        line-height:20px;
    }

     .notice-center {
         min-height: 300px;
         position: relative;
         background-image: url("../../assets/images/notice_center_bg.png");
         background-size: 100% 100%;
         background-repeat: no-repeat;
         padding: 70px 40px;
     }

    .layui-tpl-container .p-form {
        overflow: visible;
    }

     .label-left {
         text-align: left;
         width: 161px!important;
     }

    .label-right {
        text-align: left;
        width: 112px!important;
    }

     .border-bottom-input {
         border: none;
         height: 25px;
         border-bottom: #999 solid 1px;
     }

     .center-bottom {
         font-size: 14px;
         font-family: PingFangSC-Medium;
         font-weight: 500;
         color: rgba(0,0,0,0.65);
         line-height: 20px;
         text-align: center;
         left: calc(50% - 126px);
         position: absolute;
         bottom: 42px;
     }

    .notice-footer {
        position: absolute;
        left: calc(50% - 174px);
        bottom: 38px;
    }
     p {
         margin-top: 10px;
         margin-bottom: 10px;
         line-height: 20px;
     }
    
    .text-blue {
        color: #55B7FF;
    }

    .p-left {
        margin: 15px 30px 15px 30px;
    }

    #taskordernumber-span {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="layui-tpl-container">
    <div class="layui-form p-form">
        <input type="hidden" id="origin-data" />
       <div class="notice-title">
          <!-- <label class="label1">PRODUCTION PART APPROVAL STATUS NOTICE</label>--> <br />
           <label class="label2">生&nbsp;&nbsp;产&nbsp;&nbsp;件&nbsp;&nbsp;批&nbsp;&nbsp;准&nbsp;&nbsp;状&nbsp;&nbsp;况&nbsp;&nbsp;通&nbsp;&nbsp;知&nbsp;&nbsp;函</label><br />
       </div>
       <!--<label class="label3">SGMW PPAP NUMBER SGMW-PPAP编号: <span id="taskordernumber-span"></span> </label><br />-->
       <label class="label3">SGMW-PPAP编号: <span id="taskordernumber-span"></span> </label><br />
       <div class="notice-center">
           <div style="max-height: 300px;overflow-y: auto;margin-bottom: 20px;">
               <div class="center-top">
                   <div class="layui-col-md12">
                       <div class="layui-col-md6">
                           <!--<label class="layui-form-label label-left">致(女士/先生)To(Ms./Mr.):</label>-->
                           <label class="layui-form-label label-left">致(女士/先生):</label>
                           <input type="text" readonly class="border-bottom-input" id="supplierrepresentname"/>
                       </div>
                   </div>
                   <div class="layui-col-md12">
                       <div class="layui-col-md6">
                           <!-- <label class="layui-form-label label-left">职务Title:</label>-->
                           <label class="layui-form-label label-left">职务:</label>
                           <input type="text" readonly class="border-bottom-input" id="supplierrepresentposition"/>
                       </div>
                   </div>
                   <div class="layui-col-md12">
                       <div class="layui-col-md6">
                           <!--<label class="layui-form-label label-left">公司名称Company name:</label>-->
                           <label class="layui-form-label label-left">公司名称:</label>
                           <input type="text" readonly class="border-bottom-input" id="companyname"/>
                       </div>
                       <div class="layui-col-md6">
                           <!--<label class="layui-form-label label-right">公司地址Address:</label>-->
                           <label class="layui-form-label label-right">公司地址:</label>
                           <input type="text" readonly class="border-bottom-input" id="companyaddress"/>
                       </div>
                   </div>
                   <div class="layui-col-md12">
                       <div class="layui-col-md6">
                           <!--<label class="layui-form-label label-left">工厂名称Plant name:</label>-->
                           <label class="layui-form-label label-left">工厂名称:</label>
                           <input type="text" readonly class="border-bottom-input" id="factoryname"/>
                       </div>
                       <div class="layui-col-md6">
                           <!--<label class="layui-form-label label-right">工厂地址Address:</label>-->
                           <label class="layui-form-label label-right">工厂地址:</label>
                           <input type="text" readonly class="border-bottom-input" id="factoryaddress"/>
                       </div>
                   </div>
               </div>
               <div class="center-middle">
                   <!--<div style="margin: 0 50px;">-->
                   <div>
                       <!--<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！Hello!</p>-->
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好!</p>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贵公司&nbsp;&nbsp;<label class="text-blue projectmodel"></label>&nbsp;&nbsp;车型/机型零部件因&nbsp;&nbsp;<label class="text-blue ppapsubmitreason" id="ppapsubmitreason">XXXXXXXXXX</label>&nbsp;&nbsp;原因提交的PPAP生产批准审核结果为&nbsp;<label class="text-blue approvalstatus" id="approvalstatus"></label><span class="lsyxq-div" style="display: none;">，临时批准有效期至：<label class="text-blue lsyxq"></label></span>。</p>
                       <!--<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The examination result of the PPAP production parts of your company's <label class="text-blue projectmodel"></label> Vehicle/Engine parts that are subject to approval due to <label class="text-blue ppapsubmitreason" >XXXXXXXXXX</label> is <label class="text-blue approvalstatus"></label> <span class="lsyxq-div" style="display: none;">,The temporary approval period is valid until <label class="text-blue lsyxq"></label></span> .</p>-->
                   </div>
                   <p class="p-left">请按以下要求执行：</p>
                  <!-- <p class="p-left"> Please make sure the following requirement are met:</p>-->
                   <div style="margin: 0 50px;">
                       <p class="p-1 num-round">
                           <span class="num"></span>. 按期完成临时纠正措施表及PPAP批准状态升级。<br />
                          <!-- &nbsp;&nbsp;Complete the provisional corrective action plan form and submit it on time, and complete the upgrading of the PPAP approval status on time.-->
                       </p>
                       <p class="p-2 num-round">
                           <span class="num"></span>. 对前期的样件进行标识/隔离/报废处理。<br />
                          <!-- &nbsp;&nbsp;Mark/segregate/scrap the samples in prophase.-->
                       </p>
                       <p class="p-3 num-round">
                           <span class="num"></span>. GP-12（初期生产次品遏制）遏制数量：<label class="stemNumber"></label> /日期至：<label class="dateTo"></label> ;如在GP-12期间无重大质量问题，请向SQE书面提出GP-12退出确认报告。<br />
                           <!--&nbsp;&nbsp;Containment of the GP-12(Early Production Containment ) quantity: <label class="stemNumber"></label>/period: <label class="dateTo"></label>. If there are no momentous quality problems in GP-12 period,please submit a written report for quitting GP-12 to SQE.-->
                       </p>
                       <p class="p-4 num-round">
                           <span class="num"></span>. 按PPAP批准状态组织生产，如产品发生设计/工艺/生产场地/分供方等影响性能和装配的变更， 则必须向SGMW提出变更申请。<br />
                          <!-- &nbsp;&nbsp;Produce as approved PPAP status, if there is any ground/sub-supplier changes to effect function or assemblage, you must submit design/technics/production the changeapplication to SQE SGMW.-->
                       </p>
                   </div>

                   <p class="p-left">具体零件信息如下，特此函告：</p>
                   <div class="p-left" id="ppap-notice-round" style="margin-bottom: 40px;">
                       <table id="notice-parts" >

                       </table>
                   </div>

               </div>
           </div>

           <div class="center-bottom">
               <label>上汽通用五菱汽车股份有限公司</label><br />
               <label>采购及供应链管理中心供应商质量管理部</label>
           </div>
       </div>
        <div class="notice-footer"><img src="../../assets/images/notice_footer.png" alt="PPAP"/></div>
    </div>
</div>
<script>
    setTimeout(function () {
        $(window).resize();
    },500);

</script>