<div>
    <div class="footer_in">
        <div class="ri">
            <span class="index2hidden">
                <a href="/edu/yw">业务管理系统</a>
                &nbsp; | &nbsp;
                <a href="/edu/ydzl">绩效管理系统</a>
                &nbsp; | &nbsp;
                <a href="/edu/nl">能力管理系统</a>
                &nbsp; | &nbsp;
                <a href="/edu/px">培训管理系统</a>
                &nbsp; | &nbsp;
                <a href="/html-edu/components/product/indexChart.html">生产质量监控系统</a>
                &nbsp; | &nbsp;
                <a href="/edu/cnsys">产能管理系统</a>
            </span>
            <p>Copyright@2017 上汽通用五菱汽车股份有限公司 | 桂ICP备案号05006817号-1 | 桂公网安备45020402000009号</p>
        </div>
    </div>
</div>
<style>
    .footer_in {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    
    .ri {
        color: #fff;
        padding-top: 8px;
        padding-right: 12px
    }
    
    .footer_in div.ri a {
        color: #fff;
    }
    
    .footer_in div.ri p {
        color: #9badc7;
        padding-top: 15px;
    }
</style>